<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Edit Chat <%= chat._id %></h3>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
    <!-- need to use method override to sent put req -->
    <form action="/chats/<%=chat._id%>?_method=PUT" method="POST">
        <textarea name="msg" rows="5" cols="50" id=""><%= chat.msg %></textarea><br><br>
        <button>Edit</button>
    </form>
</body>
</html>